<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="openFirst()">
            <ion-icon fill="icon-only" name="menu">
  
            </ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title text-center>History</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngFor = "let c of compOrders">
        <ion-label text-center> <app-res-cart-comp [cID]=c.cart_id></app-res-cart-comp> </ion-label>
        
         
     
       </div>
     
</ion-content>
