ion-title{
    position: relative;
    text-align: center;
}

ion-content {
    --ion-background-color: rgb(243, 243, 243);
}

ion-img {
    height: 45px;
    width: auto;
}
ion-button{
    position: relative;
    text-align:center;
}

ion-card{
    background-color: #ffffff;
}

ion-searchbar{
    background-color: #eeeeee;
}