

<ion-content padding>

  <ion-img src="../assets/icon/oxford2go.png"></ion-img>


  <ion-list>
    <ion-item>
      <ion-label position = "floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]= "username"></ion-input>
  </ion-item>

    <ion-item>
        <ion-label position = "floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]= "password"></ion-input>
      </ion-item>

  </ion-list>
  <ion-button fill="solid" expand="block" color="success" (click)="login()">Login</ion-button>
  <ion-button expand = 'block' color = "success" href="/register" routerDirection="forward">Register</ion-button> 
  <ion-button  expand='block' color ="tertiary" size = "small" (click)="resetPassword(username)">Reset Password</ion-button>

</ion-content>
