ion-title{
    position: relative;
    text-align: center;
}

ion-content {
    --ion-background-color: rgb(243, 243, 243);
}

ion-img {
    height: 175px;
    width: auto;
    margin: auto;
    display: block;
}