ion-grid{
  --ion-grid-columns: 6;
  --ion-grid-padding: 8px;
}
.btn {
    display:block;
    height: 10px;
    width: 5px;
    border-radius: 50%;
    border: 0px ;
  }
  .btn1 {
    display:block;
    height: 25px;
    width: 5px;
    border-radius: 100%;
    border: 1px ;
  }


  