ion-title{
    position: relative;
    text-align: center;
}

ion-content {
    --ion-background-color: rgb(243, 243, 243);
}
ion-header {
     --ion-background-color: rgb(196, 196, 196);
}


ion-img {
    height: 45px;
    width: auto;
}